---
title: Political Survey 2017
---

<div class="container">
  <h2><%= current_page.data.title %></h2>
  <p>3 of 3</p>

  <% form_tag '../results/with_demographics.html', method: 'get' do %>
    <div class="form-group">
      <%# TODO: Add autocomplete for suburb names %>
      <label for="suburb">Which suburb in New South Wales do you live in?</label>
      <input type="text" class="form-control" id="suburb" placeholder="e.g. Bondi" data-provide="typeahead">
    </div>
    <button type="submit" class="btn btn-default">Next</button>
    <p id="why" class="help-block">Why do you want to know which suburb I live in?</p>
  <% end %>
</div>
