body {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}

.btn {
  font-size: 19px;
  margin-top: 0.5em;
}

.navbar-brand {
  font-size: 19px;
}
/*
.radio label {
  padding-left: 40px;
  margin-right: 40px;
}

.radio input[type="radio"] {
  margin-right: 20px;
}
*/

.radio input[type="radio"] {
  margin-left: -30px;
}

.radio label {
  padding-left: 30px;
}
