body {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}

.btn {
  font-size: 19px;
  margin-top: 0.5em;
}

.navbar-brand {
  font-size: 19px;
}

.radio input[type="radio"] {
  margin-left: -30px;
}

.radio label {
  padding-left: 30px;
}

legend {
  font-weight: bold;
  font-size: 24px;
}

.form-control {
  font-size: 19px;
  height: 39px;
}
