body {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}

.btn {
  font-size: 19px;
  margin-top: 0.5em;
}

.navbar-brand {
  font-size: 19px;
}

.radio input[type="radio"] {
  margin-left: -30px;
}

.radio label {
  padding-left: 30px;
}

legend {
  font-weight: bold;
  font-size: 24px;
}

.form-control {
  font-size: 19px;
  height: 39px;
}

.dropdown-menu {
  font-size: 19px;
}

.dropdown-menu > li > a {
  padding-left: 13px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
  padding-top: 16px;
}
