---
title: Political Survey
---

<div class="container">
  <h1>Political Survey</h1>

  <p>In this survey, you are asked to give your opinion of a set of statements characterising political views. Please rate each statement on the scale given, which runs from "strongly disagree" to "strongly agree".</p>

  <p>It takes 5 to 10 minutes to complete.<p>

  <p><%= link_to "Get started", "/question1.html", class: "btn btn-default" %></p>

  <p>Some stuff about privacy and being able to save your results part of the way through and come back to them</p>
</div>
