---
title: Political Survey
---

<div class="container">
  <h1>Political Survey</h1>

  <p>In this survey, you are asked to give your opinion of a set of statements characterising political views. Please rate each statement on the scale given, which runs from "strongly disagree" to "strongly agree".</p>

  <p>The following are a set of propositions. Tell us whether you agree with them</p>

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Aggressive foreign policies can put a stop to international terrorism.</label>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
          Disagree strong
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Disagree
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          No opinion
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          Agree
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          Agree strongly
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Continue</button>
  </form>
</div>
