---
title: Political Survey
---

<div class="container">
  <h1>Political Survey</h1>

  <p>Question <%= no %> of 75</p>

  <% form_tag "/question#{no+1}.html", method: 'get' do %>
    <div class="form-group">
      <label for="exampleInputEmail1"><%= data.questions[no-1] %></label>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
          Disagree strongly
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Disagree
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          No opinion
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
          Agree
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
          Agree strongly
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  <% end %>
</div>
