---
title: Political Survey 2017
---

<div class="container">
  <h2><%= current_page.data.title %></h2>

  <h3>Results</h3>

  <p>
    This is where we'll show you some results, including showing you how
    your political opinion compares to the Australian population as well as
    people who are of a similar age or who live in a similar area.
  </p>

  <% form_tag 'email.html', method: 'get' do %>
    <div class="form-group">
      <label for="email">Email me the results</label>
      <input type="email" class="form-control" id="email" placeholder="myemail@foo.com">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  <% end %>
</div>
