---
title: Political Survey 2017
---

<div class="container">
  <h2><%= current_page.data.title %></h2>

  <% if enough %>
  <h3>Results</h3>

  <% if demographics %>
    <p>
      This is where we'll show you some results, including showing you how
      your political opinion compares to the Australian population as well as
      people who are of a similar age or who live in a similar area.
    </p>
  <% else %>
    <p>
      This is where we'll show you some results, including showing you how
      your political opinion compares to the Australian population.
    </p>

    <p>
      If you want to see how your results compare to others like you then
      <%= link_to 'tell us a bit about yourself', "/polls/1/questions/6.html" %>.
    </p>
  <% end %>
  <% else %>
  <h3>Thank you!</h3>

  <p>
    Thank you for completing this poll. As soon as enough people answer it,
    we'll be able to show you how your results compare to the rest of the
    Australian population.
  </p>
  <% end %>

  <% form_tag 'email.html', method: 'get' do %>
    <div class="form-group">
      <label for="email">
        <% if enough %>
        Email me the results
        <% else %>
        Email me the results when they're ready
        <% end %>
      </label>
      <input type="email" class="form-control" id="email" placeholder="myemail@foo.com">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  <% end %>

  <p>
    Alternatively bookmark this page and come back to it later.
  </p>

  <%# TODO: Figure out how this page can be shared with others %>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Demographics:
      <%= link_to demographics, "#{!demographics}.html" %>,
      Enough:
      <%= link_to enough, "#{!enough}.html" %>
    </p>
  </div>
</footer>
